main {
    flex: 1;
    margin-left: 350px;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}


/* tornando responsivo */
    @media(max-width: 600px){ 
        /* em 600px deixar apenas card abaixo de card */
        main ul {grid-template-columns: 1fr;}
    }
/*  */
